@font-face {
    font-family: Optima_Medium;
    src: url("fonts\\Optima Medium.woff");
}

@font-face {
    font-family: Optima;
    src: url("fonts\\OPTIMA.woff");
}

/* Reset default margin and padding */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  background-color: #D5DDBC;
}

/* Header styles */
header {
  background-color: #8A9B68;
  padding: 20px;
  display: flex;
  align-items: center;
  font-family: "Optima_Medium"
}

a{
  text-decoration: none;  
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  max-width: 100px; /* Set your desired width for the logo */
}

.title {
  text-align: right;
  background-color: #8A9B68;
}

h1{
    background-color: #8A9B68;
    color: #931F1D;
}

/* Main content styles */
main {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}

p{
    background-color: #B6C197;
}

.block {
  flex: 1;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  max-height: 80vh; /* Limit the maximum height of blocks to 80% of viewport height */
  background-color: #B6C197;
  border: solid 2px #937B63;
  color: #931F1D;
  box-sizing: border-box;
  font-family: "Optima";
}

.left-block {
  margin-right: 10px;
}

.right-block {
  margin-left: 10px;
}
